# Skopiuj do .env.local w projekcie Next.js. Klucz secret dodaj TYLKO w Vercel/na serwerze.
NEXT_PUBLIC_SUPABASE_URL=https://beqogddiuzkzqahbrhjb.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_7eUCx58oYDN6mleMVWYmGQ_Syk5ebBs
# SUPABASE_SERVICE_ROLE_KEY=   (nigdy w repo)
